<mat-card>
    <mat-card-header>
        <div _ngcontent-c0="" class="container">
            <a _ngcontent-c0="" class="block logo" routerlink="/home" href="/home">
                <img _ngcontent-c0="" alt="Procom Logo" [src]="Header_Image" title="Procom Logo">
            </a>   
            <mat-card-title>Interview Quiz App</mat-card-title>
            <mat-card-subtitle>You don’t need high I.Q. to be smart.You need QUOTES IN QUIZ!</mat-card-subtitle>
        </div> 
    </mat-card-header>
    <img mat-card-image [src]="Question_Image" alt="Photo of mutiple choice questionnaire">
    <mat-card-content><p>Rack your brain with our expert-level quiz covering vast areas of human knowledge! Our interactive questionnaire with
        automated scoring provides you with a final score at the end. Match wits with your friends! Practice to increase your knowledge. Share and enjoy!
    </p></mat-card-content>
    <mat-card-actions align="right">
        <button mat-raised-button (click)="startQuiz()" type="button">Start the Quiz</button>
    </mat-card-actions>
</mat-card>